<div id="banner"></div>
<section id="newGame">
  <div id="welcome_text">
    <h2>Lets play a game....</h2>
  </div>
  <div id="addTeams">
      <div id="teamOne">
        <label for='newMemberForTeamOne'>Team One</label>
        <input type="field" id="newMemberForTeamOne" placeholder="Add a Member"><br>
        <ol id="teamOneMembers"><!- placeholder for team list-></ol>
      </div>
      <div id="startForm">
        <%= form_for @game do |f| %>
         <%= f.hidden_field :team_one %>
         <%= f.hidden_field :team_two %>
         <%= f.submit 'Start Game' %>
        <% end %>
      </div>
      <div id="teamTwo">
        <label for='newMemberForTeamTwo'>Team Two</label>
        <input type="field" id="newMemberForTeamTwo" placeholder="Add a Member"><br>
        <ol id="teamTwoMembers"><!- placeholder for team list-></ol>
      </div>
  </div>
</section>
