<div id="banner"></div>
<section id="newGame">
  <div id="welcome_text">
    <h2>Lets play a game....</h2>
  </div>
  <div id="addTeams">
      <div id="teamOne">
        <label for='newMemberForTeamOne'>Team One</label>
        <input type="field" id="newMemberForTeamOne" placeholder="Add a Member"><br>
        <div id="teamOneMembers"><!- placeholder for team list-></div>
      </div>
      <div id="startForm">
        <%= form_tag ("/game/new") do %>
         <input name="team_one" id="team_one" hidden>
         <input name="team_two" id="team_two" hidden>
         <button type="submit">Start Game</button>
        <% end %>
      </div>
      <div id="teamTwo">
        <label for='newMemberForTeamTwo'>Team Two</label>
        <input type="field" id="newMemberForTeamTwo" placeholder="Add a Member"><br>
        <div id="teamTwoMembers"><!- placeholder for team list-></div>
      </div>
  </div>
</section>
