// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#game{
  @extend .container;
  width: 100%;
}
body {
  background: image-url('gridme.png') repeat; 
}

#score_board {
  @extend .row;
  background: image-url('carbon_fibre.png') repeat; 
  height: 200px;
  color: #6da550;
}

#roundEndLabel{
  text-align: center;
}

#roundEndContent {
  color: #6da550;
}
#roundEnd {
  background: image-url('carbon_fibre.png') repeat;  
}
.wrong {
  color: red;
  font-weight: bold;
  border: 5px;
}

#timer {
   font-family: "Orbitron";
}
#team_one_board, #team_two_board{
  @extend .col-md-5;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  .active {
    font-size: 26px;
    font-weight: bold;
    color: white;
  }
  .score {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  li {
    display: inline;
    margin-left: 10px;
  }
  ul {
    padding: 0;
  }
}

#score_board_center {
  @extend .col-md-2;
  display: inline-block;
  text-align: center;
  #timer{
    font-size: 50px;
    color: white
  }
}

#questions {
  @extend .row;
  #teamOne_space, #teamTwo_space {
    @extend .col-md-6;
  }
}