// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#splash {
  @extend .container;
  background-color: grey;
  min-height: 100%;
  height: 100%;
}

#welcome_text, #addTeams {
  @extend .row;
  text-align: center;
}

#addteams {

}
#teamOne, #teamTwo {
  @extend .col-md-5;
  @extend .form-group;
  #teamOneMembers, #teamTwoMembers {
    margin-top: 15px;
    color: white;
    font-size: 30px;
  }
  #addTeamOne, #addTeamTwo {
    @extend .form-control;
  }
}

#startForm {
  @extend .col-md-2;
}


